/*
	tools字体的颜色：#646464;  ---灰黑色
	tools背景的颜色：#F9F9F9;   -----浅灰色
	tools中登录的颜色：#FF2832; -----红色
	顶部导航栏的背景颜色：#FF2832; ---红色
	侧边导航栏的字体颜色：#323232;----灰黑色
	侧边导航栏的背景颜色：#FAFAFA; 
	侧边导航栏的hover字体颜色：#FF2832;
	侧边栏hover后里面的项目鼠标移动上去之后的颜色：#FAFAFA;
	主页面里面1~8的小圆圈的背景颜色：#8C8C8C;
	畅品今日闪购里图片下面的文字hover变成：#FA5000;-----黄色
	畅品今日闪购里图片下面的文字：#686868;-----灰黑色
	畅品今日闪购里图片上、下面的黄线：#FA5000;
	下面的border的颜色：#E5E5E5;    ----浅灰色
	footer里面的字体颜色：#7D7D7D;
 */
/*
	思想：1、按照框架图作出html。
	2、细节根据css中的position：absolute；及z-index设置。使之覆盖下面的元素。特别是对于导航栏时的。
 */
*{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
body{
	font-family: 'Hiragino Sans GB', Simsun;
	min-width: 1065px;
}
a{	 
	text-decoration: none;
}
ul,li{
	list-style-type: none;
}
img{
	border: none;
}
header{
	height: 181px;
}
.top-pic{
	width: 1200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background: url("cc7ef6ca-26de-4b46-ab68-df81f33e5504_g.jpg") 0 0 no-repeat;
	position:relative;
}
.top-pic .close1{
	width: 14px;
	height: 14px;
	background: url("home_sprite2_1017.png") 0 -544px no-repeat;
	position: absolute;
	right: 0px;
	top: 0px;
}
.top-pic .close1:hover{
	background: url("home_sprite2_1017.png") -54px -211px no-repeat;
}
#tools{
	height: 34px;
	background-color: #F9F9F9;
	color: #646464;
	border-bottom: 1px solid  #E5E5E5;
	font-size: 12px;
}
#tools .layout{
	width: 1200px;
	line-height: 34px;
	margin: 0 auto;
	height: 34px;
}
#tools .layout .left{
	height: 34px;
	float: left;
}
#tools .layout .left .a1{
	color: #FF2832;
}
#tools .layout .left .a2{
	color: #646464;
}
#tools .layout .left .a2:hover{
	color: #FF2832;
}
#tools .layout .last{
	width: 112px;
	height: 34px;
	padding-left:11px; 
	float: right;
	position: relative;
}
#tools .layout .last img{
	position: absolute;
	top:5px;
	left: 11px;
}
#tools .layout .last a{
	display: inline-block;
	position: absolute;
	color: #FF2832;
	left: 38px;
}
#tools .layout .right{
	margin-top: 2px;
	height: 32px;
	float: right;
	display: block;
}
.tools-list{
	float: left;
}
.tools-a{
	height: 14px;
	line-height: 14px;
	margin: 9px 0;
	border-right: 1px solid #E6E6E6;
	position: relative;
	z-index: 10;
}
.tools-list-a{
	padding: 0 10px;
	color: #646464;
}
.tools-list-a1{
	padding: 0 10px 0 20px;
}
.tools-list-a2{
	padding:  0 10px 0 27px;
}
.tools-list:hover .tools-list-a{
	color: #FF2832;
}
.tools-phone{
	width: 11px;
	height: 16px;
	background: url("home_sprite2_1017.png") -40px -70px no-repeat;
	position: absolute;
	top:-1px;
	left: 10px;
}
.tools-list:hover .tools-phone{
	background: url("home_sprite2_1017.png") -51px -70px no-repeat;
}
.tools-list-a3{
	padding: 0 27px 0 10px;
}
.tools-right-icon{
	width: 7px;
	height: 4px;
	background: url("home_sprite2_1017.png") -74px -316px no-repeat;
	position: absolute;
	top:5px;
	right: 10px;
}
.tools-list:hover .tools-right-icon{
	background: url("home_sprite2_1017.png") -74px -332px no-repeat;
}
.tools-icon{
	width: 15px;
	height: 14px;
	position: absolute;
	top:0px;
	left: 0px;
	background: url("home_sprite2_1017.png") -40px -86px no-repeat;
}
.down-list{
	width: 86px;
	border: 1px solid #E6E6E6;
	background-color: #fff;
	position: absolute;
	top:23px;
	left: -1px;
	display: none; 
	z-index: 4;
}
.tools-list:hover .down-list{
	display: block;
} 
.down-elem a{
	height: 22px;
	padding-left: 10px;
	line-height: 22px;
	color: #646464;
	background: #fff;
	display: block;
}
.down-elem a:hover{
	background-color: #F2F2F2;
}
#top{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	font-size: 12px;
}
#top .logo{
	width: 350px;
	height: 110px;
	margin: 0px;
	float: left;
}
.search{
	width: 601px;
	height: 78px;
	margin-top: 32px;
	display:inline-block;
	float: left;
}
.search .top{
	height: 42px;
}
.searchinput{
	width: 386px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border: 1px solid #C8C8C8;
	border-right: none;
	outline: none;
	box-shadow: 2px 2px 1px #f2f2f2 inset;
	float: left;
}
.classify{
	width: 100px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border: 1px solid #C8C8C8;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	color: #969696;
	background-color: #FAFAFA;
	position: relative;
	float: left;
	z-index: 9;
}
.classify .icon{
	width: 13px;
	height: 7px;
	background: url("home_sprite2_1017.png") -14px -90px no-repeat;
	position: absolute;
	top:16px;
	right: 8px;
}
.classify .down{
	width: 110px;
	height: 288px;
	border: 1px solid #C8C8C8;
	background-color: #fff;
	overflow: auto;
	position: absolute;
	z-index: 9;
	zoom:1;
	top:40px;
	left: -1px;
	display: none;
}
.classify:hover .down{
	display: block;
}
.downclassify{
	width: 82px;
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
	font-size: 12px;
	display: block;
	color: #646464;
}
.downclassify:hover{
	background-color: #C8C8C8;
	color: #fff;
	text-decoration:underline;
}
.submit{
	width: 80px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	outline: none;
	border: none;
	margin-left:2px; 
	color: #fff;
	background-color: #FF2832;
	font-size:20px; 
	float: left;
}
.bottom{
	width: 601px;
	height: 12px;
	padding: 9px 0px;
	font-size: 10px;
}
.search-hot{
	color: #969696;
	float: left;
}
.search-hot .list{
	color: #969696;
	margin-right: 15px; 
}
.search-hot .list-re{
	margin: 0px;
}
.search-hot .list:hover{
	color: #FF2832;
	text-decoration: underline;
}
.search-advs{
	color: #969696;
	margin-right: 15px; 
	float: right;
}
.search-advs:hover{
	color: #FF2832;
	text-decoration: underline;
}
.qrcode{
	width: 110px;
	height: 90px;
	margin: 10px 0px;
	float: right;
	position: relative;
}
.qrcode .weima{
	width: 96px;
	height: 76px;
	padding: 6px;
	border: 1px solid #C8C8C8;
}
.qrcode .close{
	width: 14px;
	height: 14px;
	background: url("home_sprite2_1017.png") 0 -544px no-repeat;
	position: absolute;
	right: -13px;
	top: 0px;
}
.qrcode .close:hover{
	background: url("home_sprite2_1017.png") -54px -211px no-repeat;
}
#nav{
	height: 36px;
	background-color: #FF2832;
	color: #fff;
	font-size: 14px;
}
.nav-top{
	width: 1200px;
	margin: 0px auto;
}
.nav-top .nav-list{
	height: 36px;
	line-height: 36px;
	padding: 0px 15px;
	background-color: #FF2832;
	cursor: pointer;
	position: relative;
	float: left;
}
.nav-top .nav-more{
	width: 171px;
	padding: 0px 0px 0px 20px;
	margin: 0px 17px 0px -3px;
	cursor: pointer;
	position: relative;
	float: left;
	background: #FF2832 url("home_y_sprite_1017.png") -190px 0 repeat-y;
}
.nav-top .nav-list a{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
.nav-top .nav-more a{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
.nav-top .nav-list a img{
	position: absolute;
	top:-10px;
	left: 20px;
}
.nav-top .nav-list:hover{
	background-color: #F01E28;
}
.main{
	width: 1200px;
	margin: 0px auto;

}
.home_first_screen{
	height: 484px;
}
.sidebar{
	width: 185px;
	height: 484px;
	padding-right: 4px;
	background: #fafafa url("home_y_sprite_1017.png") 0 0 repeat-y;
	position: relative;
	float: left;
}
.sidebar-list{
	height: 34px;
	line-height: 34px;
}
.sidebar-listshow{
	height: 34px;
	line-height: 34px;
	padding-left: 20px;
	color: #646464;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	position: relative;
}
.sidebar-listshow .list_sidebar{
	font-size: 14px;
	color: #646464;
}
.sidebar-listshow .icon1{
	width: 6px;
	height: 10px;
	background:url("home_sprite2_1017.png") -82px -13px no-repeat;
	position: absolute;
	top: 12px;
	right: 2px;
	display: none;
}
.sidebar-listshow:hover{
	font-size:16px;
	color:#FF2832;
	background-color:#fff;
}
.sidebar-listshow:hover .list_sidebar{
	font-size: 16px;
	color:#FF2832;
}
.list_sidebar:hover{
	text-decoration: underline;
}
.sidebar-listshow:hover .icon1{
	display:block;
}
.more-list{
	width: 763px;
	padding-left: 14px;
	padding-top: 2px;
	border: 1px solid #E6E6E6;
	background-color: #fff;
	position: absolute;
	top:0px;
	left: 186px;
	z-index: 10;
	display: none;
}
.sidebar-list:hover .more-list{
	display: block;
}
.more-list .list-big{
	width: 235px;
	padding: 4px 0 0 2px;
	float: left;
}
.submenu{
	width: 229px;
	padding: 15px 0px 13px 6px;
	overflow: hidden;
}
.submenu:hover{
	background-color: #FAFAFA;
}
.sub-title{
	height: 19px;
	line-height: 19px;
	padding:0px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FF2832;
	position: relative;
}
.sub-title .icon-red{
	width: 6px;
	height: 10px;
	background: url("home_sprite2_1017.png") -86px -53px no-repeat;
	position: absolute;
	top: 5px;
	right: -2px; 
}
.submenu-list{
	width: 229px;
}
.submenu-list .submenu-small{
	height: 22px;
	line-height: 22px;
	color: #646464;
	font-size: 12px;
	padding: 0 10px;
	float: left;
	position: relative;
	overflow: hidden;
}
.submenu-list .icon{
	width: 1px;
	height: 7px;
	background:  url("home_sprite2_1017.png") 0px -37px no-repeat;
	position: absolute;
	top:7px;
	right:0px;
}
.focus_box{
	width: 772px;
	height: 484px;
	float: left;
}
.top-box{
	height: 310px;
	width: 772px;
	position: relative;
	overflow: hidden;
	float: left;
}
.top-box-img{
	height: 310px;
}
.top-box-link{
	position: absolute;
	top: 0px;
	left: 0px;
}
.number{
	height: 20px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.number-list{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	margin-right: 10px;
	background-color: #8C8C8C;
	color: #fff;
	float: left;
}
.number-list_active{
	background-color: #FF2832;
}
.bottom-box{
	width:772px;
	height:173px;
	float: left;
	overflow: hidden;
	position: relative;
}
.bottom-box-link{
	width:192px;
	height:172px;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	float: left;
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.9);
}
.cover{
	width:192px;
	height:172px;
	background-color: rgba(0,0,0,0.03);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}
.bottom-box-link-r{
	border-right: 0px;
}
.direction-left{
	width: 30px;
	height: 63px;
	background: url("home_sprite2_1017.png") 0px -103px no-repeat;
	top:122px;
	left: -30px;
	position: absolute;
}
.direction-right{
	width: 30px;
	height: 63px;
	background: url("home_sprite2_1017.png") -46px -103px no-repeat;
	top:122px;
	right: -30px;
	position: absolute;
}
.bottom-direction-left{
	width: 20px; height: 50px;
	background: url("home_sprite2_1017.png") 0px -201px no-repeat;
	opacity: 0.5;
	top:61px;
	left: -20px;
	position: absolute;
}
.bottom-direction-right{
	width: 20px; height: 50px;
	background: url("home_sprite2_1017.png") -20px -201px no-repeat;
	opacity: 0.5;
	top:61px;
	right: -20px;
	position: absolute;
}
.home_notice_r{
	width: 235px;
    height: 484px;
    padding-left: 4px;
    float: left;
}
.home_notice_r .top{
	width: 235px;
	height: 112px;
}
.home_notice_r .top img{
	width: 235px;
	height: 112px;
}
.home_notice_r .middle{
	width: 234px;
	height: 196px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}
.middle .top{
	width: 234px;
	height: 29px;
	float: left;
}
.top-list{
	width: 116px;
	height: 29px;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background-color: #FCFCFC;
	font-size: 14px;
	text-align: center;
	line-height: 29px;
	float: left;
}
.top-list-font{
	font-family: 'Microsoft Yahei';
	font-size: 14px;
	color: #646464;
}
.top-list-fontactive{
	color: #FF2832;
}
.middle-bottom{
	width: 233px; height: 156px;
	padding-top: 11px;
	border-right: 1px solid #E5E5E5;
	float: left;
	overflow: hidden;
}
.middle-bottom .list{
	width: 233px; height: 156px;
}
.list .list-elem{
	width: 223px; height: 24px;
	line-height: 24px;
	padding-left: 18px;
	font-size: 2px;
	overflow:hidden;
	background: url("home_sprite2_1017.png") 10px -259px no-repeat;
	color: #646464;
}
.middle-bottom .list .list-elem a{
	color: #646464;
}
.middle-bottom .list .list-elem a:hover{
	color: #FF2832;
}
.home_notice_r .bottom{
	width: 234px;
	height: 172px;
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	padding: 0;
	position: relative;
}
.bottom-top-list{
	width: 77px;
	height: 24px;
	line-height: 24px;
}
.top-listactive{
	background-color: #fff;
	border-bottom: 0px;
}
.bottom-img{
	width: 233px;
	height: 146px;
	border-right: 1px solid #E5E5E5;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
}
.home_two-screen{
	height: 519px;
	margin-top: 30px;
	border-bottom: 2px solid #FA5000;
}
.two-screen-top{
	height: 34px;
	border-bottom: 4px solid #FA5000;
}
.two-screen-left{
	width: 964px;
	float: left;
}
.two-screen-right{
	width: 236px;
	float: left;
}
.two-screen-title{
	line-height: 34px;
	font-size: 22px;
	font-family: 'Microsoft YaHei',SimHei;
	color: #FA5000;
	text-indent: 5px;
	float: left;
}
.tab{
	padding-top: 16px;
	float: right;
}
.on{
	width: 15px;
	height: 16px;
	background: url("home_sprite2_1017.png") -69px -546px no-repeat;
	float: right;
}
.on_active{
	background: url("home_sprite2_1017.png") -84px -546px no-repeat;
}
.two-screen-bottom{
	height: 483px;
}
.two-hide{
	width: 965px;
	height: 483px;
	overflow: hidden;
	float: left;
}
.screen-bottom-left{
	height: 483px;
	width: 965px;
	margin: 0px;
	position: relative;
	z-index: 99;
}
.screen-bottom-left-list{
	width: 193px;
	height: 241px;
	float: left;
	position: relative;
}
.bottom-left-elem{
	width: 170px;height: 220px;
	padding: 20px 12px 0px 10px;
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}
.qg{
	width: 54px; height: 54px;
	background: url("tag_xsq.png") 0 0 no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}
.bottom-left-elem1{
	border-bottom: none;
}
.bottom-left-elem .img{
	margin: 0 10px;
}
.bottom-left-elem .font{
	text-align: left;
	height:20px;
	line-height: 20px;
	color: #646464;
	font-size: 12px;
}
.bottom-left-elem .font span{
	color: #FA5000;
}
.bottom-left-elem a:hover{
	color: #FA5000;
	text-decoration: underline;
}
.plice{
	height: 26px;
	line-height: 26px;
	font-family: Arial;
}
.left-plice{
	font-size: 16px;
	color: #FA5000;
	float: left;
}
.right-plice{
	font-size: 12px;
	float: right;
	color: #B4B4B4;
	text-decoration: line-through;
}
.right_hide{
	width: 235px; height: 485px;
	float: right;
	overflow: hidden;
}
.screen-bottom-right{
	width: 235px;height: 485px;
	float: right;
	position: relative;
	z-index: 9px;
}
.screen-bottom-right a{
	height: 120px;
	border-bottom: 1px solid #E5E5E5;
	display: block;
	
}
.screen-bottom-right a img{
	width: 239px; height: 120px;
	float: left;
	position: relative;
}
.home_three-screen{
	height: 537px;
	margin-top: 30px;
}
.home_three-screen .title{
	height: 54px;
	padding-right: 10px;
	padding-bottom: 3px;
	background: url("11.png") 0 0 no-repeat;
}
.title a{
	width: 120px; height: 54px;
	margin-right: 20px;
	display: block;
	float: left;
}
.title-right{
	width: 780px; height: 54px;
	float: right;
}
.title-right a{
	font-size: 16px;
	font-family:"Microsoft Yahei";
	color: #333;
	line-height: 54px;
	margin: 0 13px;
	float: right;
}
.title-right a:hover{
	text-decoration: underline;
	color: #14B400;
}
.home_three-screen-content{
	height: 479px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}
.home_three-screen-content_1{
	width: 235px;
	float: left;
}
.home_three-screen-content_2{
	width: 150px;
	float: left;
}
.home_three-screen-content_3{
	width: 190px;
	float: left;
}
.home_three-screen-content_5{
	width: 239px;
	float: left;
}
.home_three-screen-content_6{
	width: 235px;
	float: left;
}
.border{
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	display: block;
}
.home_three-screen-content_11{
	width: 234px;
	height: 145px;
}
.home_three-screen-content_12{
	width: 234px;
	height: 332px;
}
.home_three-screen-content_21{
	width: 149px;
	height: 145px;
}
.home_three-screen-content_23{
	width: 149px;
	height: 186px;
}
.home_three-screen-content_31{
	width: 189px;
	height: 291px;
}
.home_three-screen-content_32{
	width: 189px;
	height: 186px;
}
.home_three-screen-content_51{
	width: 238px;
	height: 238px;
}
.home_three-screen-content_52{
	width: 238px;
	height: 119px;
}
.home_three-screen-content_53{
	width: 238px;
	height: 119px;
}
.home_three-screen-content_61{
	width: 234px;
	height: 238px;
}
.home_three-screen-content_62{
	width: 234px;
	height: 239px;
}
.footer{
	height: 522px;
	margin-top: 50px;
	border-top: 2px solid #FA5000;
}
.footer .top{
	height: 78px;
	border-bottom: 1px solid #E5E5E5;
	background-color: #FAFAFA;
}
.footer .top .centent{
	width: 944px; height: 68px;
	padding: 5px 0;
	margin: 0 auto;
}
.footer .top .centent a{
	width: 187px; height: 52px;
	padding: 7px 0 7px 48px;
	border-left: 1px solid #E5E5E5;
	display: block;
	float: left;
}
.footer .top .centent a span{
	width: 138px; height: 52px;
	display: block;
	font-size: 0px;
	line-height: 0px;
	background: url("footer_pic_bg.png") no-repeat;
	cursor: pointer;
}
a.footer_pic_01{
	border-left: 0px!important;
}
.footer_pic_02 span{
	background-position: 0 -51px;
}
.footer_pic_03 span{
	background-position: 0 -103px;
}
.footer_pic_04 span{
	background-position: 0 -156px;
}
.public_footer_new{
	width: 924px; height: 140px;
	padding: 30px 0 0 40px;
	margin: 0 auto;
}
.footer_sort{
	width: 154px; height: 116px;
	float: left;
}
.footer_sort span{
	width: 113px; height: 36px;
	line-height: 36px;
	padding-left: 41px;
	background: url("public_footer_title5.png") 0 0 no-repeat;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: #7D7D7D;
	display: block;
}
.footer_sort ul{
	padding-left: 41px;
}
.footer_sort li{
	height: 20px;
	line-height: 20px;
	text-align: -webkit-match-parent;
}
.footer_sort a{
	font-size: 12px;
	color: #7D7D7D;
}
footer a:hover{
	color: #ff0000;
	text-decoration: underline;
}
.footer_pay span{
	background-position: 0 -39px;
}
.footer_characteristic span{
	background-position: 0 -79px;
}
.footer_distribution span{
	background-position: 0 -118px;
}
.footer_help{
	background-position: 0 -158px;
}
.footer_shangjia span{
	background-position: 0 -200px;
}
.footer_nav_box{
	height: 204px;
	padding: 17px 0 50px 0;
	border-top:1px solid #E5E5E5;
	color: #8c8c8c;
	font-size: 12px;
}.footer_nav{
	padding-bottom: 17px;
}
.footer_nav_box a{
	color: #8c8c8c;
	font-size: 12px;
}
.footer_nav_box .footer_nav{
	width: 1200px;
	height: 20px;
	line-height: 20px;
	text-align: center;
    
}
.footer_nav_box .footer_nav span.req{
	margin: 0 17px 0 17px;
}
.footer_nav .reci{
	position: relative;
	display: inline-block;
	zoom:1;
	*display:inline;
}
.footer_nav .reci .top{
	width: 0px; height: 0px;
	position: absolute;
	border:4px solid;
	border-color: transparent transparent #F48570 transparent;
	top: 13px; left: 20px;
	display: none;
}
.footer_nav .reci .search_hot{
	width: 340px;
	height: 14px; line-height: 14px;
	position: absolute;
	top: 21px; right: 0;
	border-radius: 30px;
	background-color:  #F48570;
	cursor: pointer;
	display: none;
}
.footer_nav .reci .search_hot a{
	text-decoration: none;
	color: #fff;
}
.footer_nav .reci:hover .top,.footer_nav .reci:hover .search_hot{
	display: block;
}
.footer_copyright{
	text-align: center;
	line-height: 20px;
	padding-top: 10px;
}
.footer_icon{
	width: 640px; height: 77px;
	padding: 10px 0 0 340px;
	margin: 0 auto;
}
.footer_icon a{
	padding: 15px 12px 15px 5px;
}